* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header {
    background: #1d172c;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.header__title {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 40px;
    height: 60px;
    padding-top: 10px;
}
.header__button {
    width: 180px;
    height: 60px;
    font-size: 21px;
    background: #e67433;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1d172c;
}
.header__button:hover {
    background: #eeb899;
    border: 3px solid #f0884c;
}
.header__about-us {
    position: relative;
}
.header__article {
    position: absolute;
    color: #fff;
    margin-top: 10px;
    opacity: 0;
    padding: 10px;
    background: #f0884c;
    width: 180px;
    right: 0;
}
.header__button:hover + .header__article{
    opacity: 1;
    display: block;
}
.main {
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 200px;
    padding-right: 350px;
    background: #f3d2be;
    justify-content: space-between;
}
.main-menu-list__title {
    padding: 17px;
}
.main-menu-list__title:hover {
    background: #f0884c;
}
.main-menu-list__link {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;

}
.dictionary-pages {
    position: relative;
}
.dictionary-pages-image {
    width: 300px;
    height: 420px;
}
.dictionary-pages-button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background: #f0884c;
    position: absolute;
    z-index: 10;
    top: 170px;
}
.dictionary-pages__svg {
    color: #1d172c;
}
.dictionary-pages-right {
    left: -30px;
}
.dictionary-pages-left {
    right: -30px;
}
.footer {
    width: 100%;
    height: 90px;
    padding: 20px;
    background: #1d172c;
    color: #fff;
}