* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header {
    background: #1d172c;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.header__title {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 40px;
    height: 60px;
    padding-top: 10px;
}
.header__button {
    width: 150px;
    height: 60px;
    font-size: 21px;
    background: #e06d2b;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1d172c;
}
.header-article {
    display: none;
}
.main {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.dictionary-pages {
    position: relative;
}
.dictionary-pages-image {
    width: 300px;
    height: 420px;
}
.dictionary-pages-button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background: #e06d2b;
    position: absolute;
    z-index: 10;
    top: 170px;
}
.dictionary-pages__svg {
    color: #1d172c;
}
.dictionary-pages-right {
    left: -30px;
}
.dictionary-pages-left {
    right: -30px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-top: 30px;
    background: #1d172c;
    color: #fff;
}